---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import ImpactBand from '../components/ImpactBand.astro';
---

<Base>
  <Hero />
  <main>
    <ImpactBand />
  </main>
</Base>
